.example-spacer {
  flex: 1 1 auto;
}

.application-name {
  margin-left: 10px;
}

mat-toolbar {
  background: #2BA55C;
}

.link-icon {
  color: #FFFFFF;
  margin-right: 5px;
}

.link-icon svg {
  width: 25px;
  height: 25px;
}


