.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center button {
  background: #2BA55C;
}

.result-section {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.result-section mat-card {
  width: 70%;
}

mat-card {
  background: #2BA55C;
}

mat-card-title {
  background: inherit;
  margin: 10px;
  text-align: center;
}

.text-area-section {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

mat-form-field {
  width: 100%;
  margin: 5%;
}
