<form [formGroup]="form" class="dialog-form">

  <div mat-dialog-title class="dialog-title">
    <h4>Customize Password Generation</h4>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div>
    <mat-slider min="0" max="100" step="1" [displayWith]="formatLabel" (change)="updatePasswordLength($event)">
      <input matSliderThumb value="{{passwordLength}}">
    </mat-slider>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Password length</mat-label>
    <input type="email" matInput value="{{passwordLength}}" [formControl]="numberFormControl"
           (change)="updatePasswordLength($event)">
  </mat-form-field>


</form>

