.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-slider{
  width: 100%;
}

mat-form-field input {
  width: 100%;
}

.checkbox-section {
  margin-top: 2%;
}

.checkbox-section div {
  margin-top: 1%;
}

.button-section {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.button-section button {
  background: #2BA55C;
}
