<div class="mat-dialog-container">

  <div mat-dialog-title class="dialog-title">
    <div class="mat-title">Customize</div>
    <button mat-icon-button mat-dialog-close="">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="mat-typography">Drag the slider to set password length.</div>

  <form id="myForm" #myForm="ngForm" (ngSubmit)="submitCustomizationData()">
    <section class="customize-section">
      <mat-slider class="dialog-slider"
                  max="100"
                  step="1"
                  [(value)]="data.passwordLength"
                  required
                  name="passwordLengthSlider"></mat-slider>

      <mat-form-field>
        <mat-label>Password length</mat-label>
        <input matInput
               type="number"
               [(ngModel)]="data.passwordLength"
               required
               name="passwordLengthInput"
               max="100">
        <mat-error>
          Acceptable password length is 8-100
        </mat-error>
      </mat-form-field>

      <div class="checkbox-section">
        <div>
          <mat-checkbox
            [(ngModel)]="data.includeLetters"
            name="includeLettersCheckbox">Include letters
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox
            [(ngModel)]="data.includeNumbers"
            name="includeNumbers">Include numbers
          </mat-checkbox>
        </div>
        <div>
          <mat-checkbox
            [(ngModel)]="data.includeSpecialCharacters"
            name="includeSpecialCharactersCheckbox">Include special characters
          </mat-checkbox>
        </div>

      </div>

    </section>

    <div class="button-section">
      <button mat-raised-button type="submit" [disabled]="!passwordLengthIsValid()">Generate</button>
    </div>
  </form>


</div>

