<div class="mat-dialog-container">

  <div mat-dialog-title class="dialog-title">
    <div class="mat-title">Customize</div>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="mat-typography">Drag the slider to set password length.</div>

  <section class="customize-section">
    <mat-slider class="dialog-slider"
                max="100"
                step="1"
                [(value)]="passwordLength"></mat-slider>

    <mat-form-field>
      <input matInput placeholder="Password length" type="number" [(ngModel)]="passwordLength">
    </mat-form-field>

    <div class="checkbox-section">
      <div>
        <mat-checkbox [(ngModel)]="includeLetters">Include letters</mat-checkbox>
      </div>
      <div>
        <mat-checkbox [(ngModel)]="includeNumbers">Include numbers</mat-checkbox>
      </div>
      <div>
        <mat-checkbox [(ngModel)]="includeSpecialCharacters">Include special characters</mat-checkbox>
      </div>

    </div>

  </section>

  <div class="button-section">
    <button mat-raised-button>Generate</button>
  </div>


</div>

